<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  This is the home page of between lessons. Between lessons is a web site that provides a progress recording and motivational tool for the student within a shared space with their tutor. This facilitates the asking of a daily question, a daily update, progress video and inspirational content to keep the student moving between lessons.
</p>