<% provide(:title, 'Between Lessons') %>
<div class="center hero-unit">
  <h1>Between Lessons - stopping the between lesson sag</h1>

  <h2>
    This is the home page of between lessons. Between lessons is a web site that provides a progress recording and motivational tool for the student within a shared space with their tutor. This facilitates the asking of a daily question, a daily update, progress video and inspirational content to keep the student moving between lessons.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>